:root {
    --base: #814813;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    height: 500px;
    width: auto;
}

.hl {
    color: var(--base);
}

body {
    text-align: center;
    font-family: 'Solway', serif;
    background-color: #273E47;
    color: #FFEEDD;
}

input {
    width: 100px;
}

.controls {
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
}